$text-family1: 'Gantari', sans-serif;
$text-family2: 'Bodoni Moda', serif;
$page-margin: 4rem auto;
$container-margin: 1rem auto;


@mixin linkStyle {
    text-decoration: none;
    color: var(--text-color);
}



